.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #03045e;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-footer {
  background-color: #03045e;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: white;
}

.App-link {
  color: #9adafa;
}

.signup{
  min-height: 5vh;
  background-color: #0077b6;
}

.login{
  min-height: 5vh;
  background-color: #00b4d8;
}

.feed{
  min-height: 5vh;
  background-color: #90e0ef;
}

.comment{
  color: #324ac6;
}

.insta-photo{
  max-height: 25vh;
}
/* -------------------------------------------- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
